---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Button from '~/components/ui/Button.astro';
import { Image } from 'astro:assets';
import sasaFajkovicImageBlack from 'src/assets/images/sasaFajkovicBlack.webp';


const metadata = {
  title: 'Sasa Fajkovic - tech lead',
};

---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      actions={[
        {
          text: 'Reach out',
          href: 'mailto:fajkovic.sasa@proton.me',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Sasa Fajkovic"
    tagline="Tech lead"
  >
    <Fragment slot="subtitle">
      I'm a leader in technical domain with product mindset. KPI and data driven, result oriented.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={2}
    image={{
      src: sasaFajkovicImageBlack,
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h2>
      <p style="text-align: justify;">
        Welcome to my personal page. My work is a testament to my commitment to bringing great ideas to life, 
        successfully overomming challenges and achieving complex goals.
      </p>
      <br />
      <p style="text-align: justify;">
          Never settling for mediocre explanations and pushing the boundaries to achieve goals which seemd unrealistic. 
          Being adaptive and quick to react is crucial to succeed in todays dynamic world 
      </p>
      <br />
      <Button 
      variant='primary',
      text='PDF CV',
      href="https://sasa-fajkovic.com/SasaFajkovicCV.pdf",
      target='_blank',
      class:list="max-w-xs sm:max-w-md m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4 mt-4"
      >

      </Button>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

    <!-- BlogLatestPost Widget **************** -->

    <BlogLatestPosts
    id="blog"
    title="Explore my insightful articles on my blog"
    information={`Dive into a realm of design wisdom and creative inspiration, where you'll find invaluable insights, practical tips, and captivating narratives that elevate and enrich your creative journey.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>

  <Steps
    id="professional-journey"
    title="Professional journey"
    items={[
      {
        title:
          'Technical Lead & Product Owner <br /> <span class="font-normal">Trade Republic, Berlin, DE</span> <br /> <span class="text-sm font-normal color-gray">2022 - Present</span>',
        description: `
        <div>
        <p>Leading teams and deliverables across different domains:</p>
        <ul style="font-size: initial; list-style: initial; padding-left: 2em;">
          <li>Customer lifecycle domain</li>
          <li>Timeline event aggregation</li>
          <li>Banking domain</li>
          <li>Developer Exprience Domain</li>
        </ul>
        <br />
        Tech stack:
        <ul style="font-size: initial; list-style: initial; padding-left: 2em;">
          <li> Kotlin, Spring Boot, Ktor, Vert.x</li>
          <li> Kafka, RabbitMQ</li>
          <li> Kubernetes, Docker</li>
          <li> Prometheus, Grafana, Loki</li>
          <li> AWS, Snowflake, GitHub Actions</li>
          <li> PostgreSQL, Aurora</li>
        </ul>
        </div>
        `,
        icon: 'tabler:chart-bar-popular',
      },
      {
        title:
          'Engineering manager & Senior engineer<br /> <span class="font-normal">Deutsche Kreditbank AG, Berlin, DE</span> <br /> <span class="text-sm font-normal">2020 - 2022</span>',
        description: `Delivered new onboarding solutions with enabling faster, smoother and easier B2C onboarding process.<br />Delivered succesfful provisioning of  5+ mil. customers to a new debit card. Managed a full-stack including backend, frontend and QA engineers.`,
        icon: 'tabler:chart-histogram',
      },
      {
        title:
          'Founder <br /> <span class="font-normal">Digitalni val, Zagreb, HR</span> <br /> <span class="text-sm font-normal">2018 - 2020</span>',
        description: `Small digital agency covering eCommerce & website development, proprietary CMS and CRM, Linux & Windows server management and retail office management.`,
        icon: 'tabler:wave-sine',
      },
      {
        title:
          'Lecturer <br /> <span class="font-normal">Algebra, Zagreb, HR</span> <br /> <span class="text-sm font-normal">2016 - 2018</span>',
        description: `PHP, MySQL, Laravel, Java, MS office 3 levels`,
        icon: 'tabler:user-code',
      },
      {
        title:
          'Team lead <br /> <span class="font-normal">UniCredit group, Zagreb, HR</span> <br /> <span class="text-sm font-normal">2016 - 2018</span>',
        description: `Do not Call, CRM, internal developers framework.`,
        icon: 'tabler:building-bank',
      },
      {
        title:
          'Project Manager <br /> <span class="font-normal">Carpe Diem, Karlovac, HR</span> <br /> <span class="text-sm font-normal">2014 - 2016</span>',
        description: `Leading projects lasting 1y to 3y`,
        icon: 'tabler:chart-pie-2',
      }
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Education"
    items={[
      {
        title: `Master of European Business Studies <br /> <span class="font-normal">Alma Mater Europaea, Maribor, SI</span> <br /> <span class="text-sm font-normal">2014 - 2017</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Bachelor of Business IT <br /> <span class="font-normal">VERN' University, Zagreb, HR</span> <br /> <span class="text-sm font-normal">2010 - 2014</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />


  <Features3
    id="skills"
    title="Technical skills"
    subtitle="Just some of the tools and technologies I use on a daily basis"
    columns={4}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Java & Kotlin',
        description: 'backend applications and services',
      },
      {
        title: 'Spring, Ktor and Vert.x frameworks',
        description: 'Frameworks for building web applications',
      },
      {
        title: 'Kubernetes & Docker',
        description: 'Containerization and orchestration',
      },
      {
        title: 'GitHub Actions & Jenkins',
        description: 'Modern, fast and scalable CI/CD',
      },
      {
        title: 'Kafka & RabbitMQ',
        description: 'Event driven architecture',
      },
      {
        title: 'Prometheus & Grafana',
        description: 'Monitoring, alerting and observability',
      },
      {
        title: 'AWS',
        description: 'Cloud services',
      },
      {
        title: 'PostgreSQL & MySQL',
        description: 'Relational databases',
      },
      {
        title: 'Git',
        description: 'Version control system',
      },
      {
        title: 'Spredsheets',
        description: 'Because you can\'t avoid them',
      },
      {
        title: 'Snowflake',
        description: 'Data warehouse',
      },
      {
        title: 'Teleport & Okta',
        description: 'Identity and access management',
      },
    ]}
  />

  
<Features3
id="publications"
title="Publications"
subtitle="Old, yet actively used with professionals, academia and in schools"
columns={3}
items={[
  {
    title: 'Microsoft Word 2016',
    description: 'Comprehensive guide on writing and editing documents<br />Year: 2016<br />ISBN: 978-953-58990-0-6',
    icon: 'tabler:file-type-docx',
    callToAction: {
      text: 'View & Download PDF',
      href: '/publications/SasaFajkovic-Word2016-2016.pdf',
      variant: 'secondary',
    }
  },
  {
    title: 'Microsoft Excel 2013',
    description: 'Power of spredsheet calculations<br />Year: 2015<br />',
    icon: 'tabler:file-type-xls',
    callToAction: {
      text: 'View & Download PDF',
      href: '/publications/SasaFajkovic-Excel2013-2015.pdf',
      variant: 'secondary',
    }
  },
  {
    title: 'C++ programming language',
    description: 'C++ - Introduction to programming<br />Year:2015',
    icon: 'tabler:brand-cpp',
    callToAction: {
      text: 'View & Download PDF',
      href: '/publications/SasaFajkovic-CPP-2015.pdf',
      variant: 'secondary',
    }
  },
  {
    title: 'HTML5 & CSS3',
    description: `Simple website creation.<br />Year: 2015`,
    icon: 'tabler:file-type-html',
    callToAction: {
      text: 'View & Download PDF',
      href: '/publications/SasaFajkovic-HTML5CSS3-2015.pdf',
      variant: 'secondary',
    }
  },
  {
    title: 'JavaScript',
    description: 'Introduction to programming using JavaScript<br />Year: 2015',
    icon: 'tabler:file-type-js',
    callToAction: {
      text: 'View & Download PDF',
      href: '/publications/SasaFajkovic-JS-2015.pdf',
      variant: 'secondary',
    }
  },
  {
    title: 'Microsoft Word 2013',
    description: 'From beginner to editor<br />Year:2014',
    icon: 'tabler:file-type-doc',
    callToAction: {
      text: 'View & Download PDF',
      href: '/publications/SasaFajkovic-Word2013-2014.pdf',
      variant: 'secondary',
    }
  },
  {
    title: 'C# & Windows Forms',
    description: 'Introduction to programming using C# and Windows Forms<br />Year: 2014',
    icon: 'tabler:brand-c-sharp',
    callToAction: {
      text: 'View & Download PDF',
      href: '/publications/SasaFajkovic-CSharp-2014.pdf',
      variant: 'secondary',
    }
  },
  {
    title: 'C++',
    description: 'Introduction to programming<br />Year: 2014',
    icon: 'tabler:brand-cpp',
    callToAction: {
      text: 'View & Download PDF',
      href: '/publications/SasaFajkovic-CPP-2014.pdf',
      variant: 'secondary',
    }
  },
  {
    title: 'C++',
    description: 'Introduction to programming<br />Year: 2014',
    icon: 'tabler:brand-cpp',
    callToAction: {
      text: 'View & Download PDF',
      href: '/publications/SasaFajkovic-CPP-2012.pdf',
      variant: 'secondary',
    }
  },
]}
classes={{ container: 'max-w-5xl' }}
/>


</Layout>
