---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Personal Homepage Demo',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#' },
        { text: 'About', href: '#about' },
        { text: 'Resume', href: '#resume' },
        { text: 'Publications', href: '#publications' },
        { text: 'Projects', href: '/projects'},
        { text: 'Blog', href: '/blog' },
      ]}
      actions={[
        {
          text: 'Reach out',
          href: 'mailto:fajkovic.sasa@proton.me',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Sasa Fajkovic"
    tagline="Tech lead"
    actions={[{ variant: 'secondary', text: 'Read my articles', href: getPermalink('/blog') }]}
  >
    <Fragment slot="subtitle">
      I'm a leader in technical domain with product mindset. KPI and data driven, result oriented.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    image={{
      src: 'https://sasa-fajkovic.com/images/sasaFajkovicBlack.webp',
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h2>
      <p>
        Welcome to my personal page. My work is a testament to my commitment to bringing great ideas to life, 
        successfully overomming challenges and achieving complex goals.
      </p>
      <br />
      <p>
          Never settling for mediocre explanations and pushing the boundaries to achieve goals which seemd unrealistic. 
          Being adaptive and quick to react is crucial to succeed in todays dynamic world 
      </p>
      <br />
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

    <!-- BlogLatestPost Widget **************** -->

    <BlogLatestPosts
    id="blog"
    title="Explore my insightful articles on my blog"
    information={`Dive into a realm of design wisdom and creative inspiration, where you'll find invaluable insights, practical tips, and captivating narratives that elevate and enrich your creative journey.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>

  <Steps
    id="resume"
    title="Professional journey"
    items={[
      {
        title:
          'Technical Lead & Product Owner <br /> <span class="font-normal">Trade Republic, Berlin, DE</span> <br /> <span class="text-sm font-normal">2022 - Present</span>',
        description: `Leading teams and deliverables across different domains:
        <ul style="font-size: initial; list-style: initial; padding-left: 2em;">
          <li>Customer lifecycle domain</li>
          <li>Banking domain</li>
          <li>Developer Exprience Domain</li>
        </ul>
        `,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Engineering manager <br /> <span class="font-normal">Deutsche Kreditbank AG, Berlin, DE</span> <br /> <span class="text-sm font-normal">2020 - 2022</span>',
        description: `Delivered new onboarding solutions with enabling faster, smoother and easier B2C onboarding process.<br />Delivered succesfful provisioning of  5+ mil. customers to a new debit card. Managed a full-stack including backend, frontend and QA engineers.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Founder <br /> <span class="font-normal">Digitalni val, Zagreb, HR</span> <br /> <span class="text-sm font-normal">2018 - 2020</span>',
        description: `WordPress, Google Suite administration, e-commerce development, server management, betting bot`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Lecturer <br /> <span class="font-normal">Algebra, Zagreb, HR</span> <br /> <span class="text-sm font-normal">2016 - 2018</span>',
        description: `PHP, MySQL, Laravel, Java, MS office 3 levels`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Team lead <br /> <span class="font-normal">UniCredit group, Zagreb, HR</span> <br /> <span class="text-sm font-normal">2016 - 2018</span>',
        description: `Do not Call, CRM, internal developers framework.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Project Manager <br /> <span class="font-normal">Carpe Diem, Karlovac, HR</span> <br /> <span class="text-sm font-normal">2014 - 2016</span>',
        description: `Leading projects lasting 1y to 3y`,
        icon: 'tabler:briefcase',
      }
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Education"
    items={[
      {
        title: `Master of European Business Studies <br /> <span class="font-normal">Alma Mater Europaea, Maribor, SI</span> <br /> <span class="text-sm font-normal">2014 - 2017</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Bachelor of Business IT <br /> <span class="font-normal">VERN' University, Zagreb, HR</span> <br /> <span class="text-sm font-normal">2010 - 2014</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Electrotehnics 4y study <br /> <span class="font-normal">Technics school of Karlovac, Karlovac, HR</span> <br /> <span class="text-sm font-normal">2004 - 2009</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />


  <!-- Content Widget **************** -->

  <Content
    id="publications"
    title="Solving complex problems, delivering impactful solutions"
    subtitle="From an idea, to a working solution, accepting uncertanty and working with an agile mindset"
    isReversed
    items={[
      {
        title: 'Description:',
        description:
          'Developed a comprehensive brand identity for a tech startup, Tech Innovators, specializing in disruptive innovations. The goal was to convey a modern yet approachable image that resonated with both corporate clients and tech enthusiasts.',
      },
      {
        title: 'Role:',
        description:
          'Led the entire branding process from concept to execution. Created a dynamic logo that symbolized innovation, selected a vibrant color palette, and I designed corporate stationery, website graphics, and social media assets.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1658248165252-71e116af1b34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=928&q=80',
      alt: 'Tech Design Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 1: <br /><span class="text-2xl">Brand identity for tech innovators</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  
  <!-- Content Widget **************** -->

  

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description:
          'Designed a captivating event poster for an art and music festival, "ArtWave Fusion," aiming to showcase the synergy between visual art and music genres.',
      },
      {
        title: 'Role:',
        description: `Translated the festival's creative theme into a visually striking poster. Used bold typography, vibrant colors, and abstract elements to depict the fusion of art and music. Ensured the design captured the festival's vibrant atmosphere.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1619983081563-430f63602796?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Art and Music Poster Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 2: <br /><span class="text-2xl">Event poster for art & music festival</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `Redesigned the e-commerce website for an eco-conscious fashion brand, GreenVogue. The objective was to align the brand's online presence with its sustainable ethos and improve user experience.`,
      },
      {
        title: 'Role:',
        description: `Conducted a thorough analysis of the brand's values and customer base to inform the design direction. Created a visually appealing interface with intuitive navigation, highlighting sustainable materials, and integrating a user-friendly shopping experience.`,
      },
    ]}
    image={{
      src: 'https://plus.unsplash.com/premium_photo-1683288295841-782fa47e4770?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Fashion e-commerce Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 3: <br /><span class="text-2xl">E-commerce website redesign for fashion brand</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Let's create together"
    subtitle="Ready to transform your vision into captivating designs?"
    actions={[
      {
        variant: 'primary',
        text: 'Send an email out',
        href: 'mailto: fajkovic.sasa@proton.me',
      },
    ]}
  />

  <Features3
    title="Skills"
    subtitle="Discover the proficiencies that allow me to bring imagination to life through design."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Graphic design',
        description: 'Proficient in crafting visually appealing designs that convey messages effectively.',
      },
      {
        title: 'Branding and identity',
        description: 'Skilled at developing cohesive brand identities, including logos and brand guidelines.',
      },
      {
        title: 'User-centered design',
        description: 'Experienced in creating user-friendly interfaces and optimizing user experiences.',
      },
      {
        title: 'Adobe Creative Suite',
        description: 'Skilled in using Photoshop, Illustrator, and InDesign to create and edit visual elements.',
      },
      {
        title: 'Typography',
        description: 'Adept in selecting and manipulating typefaces to enhance design aesthetics.',
      },
      {
        title: 'Color theory',
        description: 'Proficient in using color to evoke emotions and enhance visual harmony.',
      },
      {
        title: 'Print and digital design',
        description: 'Knowledgeable in designing for both print materials and digital platforms.',
      },
      {
        title: 'Attention to detail',
        description: 'Diligent in maintaining precision and quality in all design work.',
      },
      {
        title: 'Adaptability',
        description: 'Quick to adapt to new design trends, technologies, and client preferences.',
      },
    ]}
  />

</Layout>
